<?xml version="1.0" ?>
<!-- Gazebo launch file -->
<launch>
   <!-- Variables/arguments default declaration (used if not defined in shell when launching) -->
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find robotRangers__autonomousNavigation_puzzleBot)/worlds/ADJIC_map.world"/>
  <arg name="robot_configuration" default="complete" />
  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="0" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="headless" value="$(arg headless)" />
      <arg name="world_name" value="$(arg world_name)" />
  </include>

  <!-- Launch nodes needed to move the Puzzlebot -->
  <!-- <node name="input" pkg="robotRangers__autonomousNavigation_puzzleBot" type="set_point.py" output="screen"/> -->
  <node name="puzzlebot_kinematic_model" pkg="robotRangers__autonomousNavigation_puzzleBot" type="puzzlebot_kinematic_model.py" output="screen"/>  
  <node name="localisation" pkg="robotRangers__autonomousNavigation_puzzleBot" type="localisation.py" output="screen"/>
  <node name="tf_transform" pkg="robotRangers__autonomousNavigation_puzzleBot" type="tf_coord.py" output="screen"/> 
  <node name="joint_state_publisher" pkg="robotRangers__autonomousNavigation_puzzleBot" type="joint_state_publisher.py" output="screen"/>
  <!-- Launching gazebo movement -->
  <include file="$(find robotRangers__autonomousNavigation_puzzleBot)/launch/include/puzzlebot_control.launch"/> 
  <node name="puzzlebot_control_node" pkg="robotRangers__autonomousNavigation_puzzleBot" type="robotRangers__autonomousNavigation_puzzleBot_node" output="screen"/>
</launch>