<!-- Robot spawner launch file -->
<launch>
    <!-- Read URDF/XACRO files, load robot params and publish robot state information (fixed TF transforms) -->
    <include file="$(find robotrangers_autonomousnavigation_puzzlebot)/launch/include/robot/description2d.launch"/>

    <!-- Spawn Puzzlebot -->
    <!-- Original was 0,0,1 (x, y, z). This was adjusted so that the robot spawns
    centered in the maze. However, this doesn't affect RVIZ perception of where 
    it thinks the robot is. It keeps on appearing in the same place in RVIZ -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -param robot_description -model puzzlebot -x 0.8 -y -0.65 -z 0.0 -Y 0.0"/>
</launch>