<!-- Control launch file -->
<launch>
  <!-- Enable Puzzlebot controller -->
  <!--<node name="controller" pkg="robotRangers__autonomousNavigation_puzzleBot" type="controller.py" output="screen"/> -->



  <!-- To be able to teleop my robot through RVIZ using interactive markers -->
  <node pkg="interactive_marker_twist_server" type="marker_server" 
        name="twist_marker_server">
    <remap from="twist_marker_server/cmd_vel" to="cmd_vel"/>
  </node>
</launch>