<!-- Load robot_description to ros parameter server and create TF tree from xacro/urdf file -->
<launch>
  <arg name="config" default="base" />

  <!-- Load the URDF into the parameter server -->
    <!--load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find robotRangers__autonomousNavigation_puzzleBot)/urdf/puzzlebot_lidar.xacro'" />

  <!-- Publish TF static transforms found in xacro/urdf file -->
  <!-- If more than 1 robot was spawned a namespace must be added here to 
  differentiate each robot TFs. To do so, just add a remap inside the node
  declaration -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
        respawn="false" output="screen"/>
</launch>