<?xml version="1.0" ?>
<launch>
    <!-- Load the URDF into the parameter server -->
    <param name="robot_description" textfile="$(find puzzlebot_sim)/urdf/puzzlebot_jetson_ed_urdf.urdf"/>

    <node name="input" pkg="puzzlebot_sim" type="set_point.py" output="screen"/>
    <node name="controller" pkg="puzzlebot_sim" type="controller.py" output="screen"/>
    <node name="puzzlebot_kinematic_model" pkg="puzzlebot_sim" type="puzzlebot_kinematic_model.py" output="screen"/>
    <node name="Joint_State_Publisher" pkg="puzzlebot_sim" type="joint_state_publisher.py" output="screen"/>
    <node name="localisation" pkg="puzzlebot_sim" type="localisation.py" output="screen"/>
    <!-- <node name= "rqt_plot" pkg="rqt_plot" type="rqt_plot" output="screen"/> -->
    <node pkg="rviz" type="rviz" name="rviz_config" args="-d $(find puzzlebot_sim)/mini_challenge2_config.rviz"/>
</launch>
